html {
    font-size: 62.5%;
    /*
    Explainaton: 1rem == 16pixels. Multiple 16*0.625 = 10. Since other fonts are based off the html font (?) now 1.6rem = 16 pixels. 
    If we want a 22pixel font it is 2.2rem. Etc.
    */
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;

}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}